@import 'adaptive';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

 .works{
    width: 100%;
    margin: 0 auto;
    height: 887px;
    background: linear-gradient(to bottom, rgba(80, 77, 194, 1) 56%, white 44% );
    

    & .works__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        & .works__header--title{
            width: 100%;
            max-width: 540px;
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 700;
            line-height: 52.66px;
            text-align: left;
            color: white;
        }
        & .works__header--button{
            width: 200px;
            height: 45px;
            background-color: rgba(73, 133, 255, 1);
            border: none;
            border-radius: 30px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.5px;
            text-align: center;
            color: white;
        }
    }
    & .works__cards{
        width: 100%;
        max-width: 1110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 70px;
        & .works__cards--card1{
            max-width: 350px;
        }
        & .works__cards--card2{
            max-width: 350px;
        }
        & .works__cards--card3{
            max-width: 350px;
        }
        & .works__cards--photo{
            width: 350px;
            height: 300px;
            border-radius: 10px;
        }
        & .works__cards--number{
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.94px;
            text-align: left;
            color: rgba(73, 133, 255, 1);
            padding-top: 30px;
            padding-bottom: 30px;

        }
        & .works__cards--title{
            color: black;
        }
        & .works__cards--text{
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 25.36px;
            text-align: left;
            color: rgba(153, 153, 153, 1);
            padding-bottom: 47px;

        }
        & .works__cards--link{
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.5px;
            text-align: left;
            color: rgba(73, 133, 255, 1);
        }
    }
    & .works__line{
        max-width: 1110px;
        width: 100%;
        border: 1px solid rgba(224, 224, 224, 1);
        margin: 0 auto;
        margin-top: 85px;
    }
}
